<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Welcome to the Home Page</h2>
            <h3>Choose an action:</h3>
            <div class="list-group">
                <a href="/create-item" class="list-group-item">Create New Item</a>
                <a href="/view-all-items" class="list-group-item">View All Items</a>

                <!--                <form action="/search-item" method="get" class="form-inline">-->
                <!--                    <div class="input-group">-->
                <!--                        <input type="text" class="form-control" id="input1" name="input1"-->
                <!--                               placeholder="Search for Item...">-->
                <!--                        <span class="input-group-btn">-->
                <!--                                <button class="btn btn-default" type="submit">Search Item</button>-->
                <!--                            </span>-->
                <!--                    </div>-->
                <!--                </form>-->

                <form action="/search-item" method="get" class="form-inline">
                    <div class="input-group">
                        <label for="category" class="input-group-addon">Search:</label>
                        <select class="form-control" id="category" name="category" required>
                            <option th:each="category : ${T(pl.jablonski.mongodbdemo.items.Category).values()}"
                                    th:value="${category}" th:text="${category}">Category
                            </option>
                        </select>
                        <input type="text" class="form-control" id="input1" name="input1" placeholder="Search for Item...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Search Item</button>
                        </span>
                    </div>
                </form>

                <a href="/create-question" class="list-group-item">Create New Question</a>
                <a href="/view-all-questions" class="list-group-item">View All Questions</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
