<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Welcome to the Home Page</h2>
            <h3>Choose an action:</h3>
            <div class="list-group">
                <a href="/create-item" class="list-group-item">Create New Item</a>
<!--                <a href="/create-question" class="list-group-item">Create New Question</a>-->
                <a href="/view-all-items" class="list-group-item">View All Items</a>
<!--                <a href="/view-questions" class="list-group-item">View All Questions</a>-->
                <form action="/search-item" method="get" class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" id="input1" name="input1" placeholder="Search for Item...">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Search Item</button>
                            </span>
                    </div>
                </form>
<!--                <form action="/search-question" method="get" class="form-inline">-->
<!--                    <div class="input-group">-->
<!--                        <input type="text" class="form-control" id="input2" name="input2" placeholder="Search for Question...">-->
<!--                        <span class="input-group-btn">-->
<!--                                <button class="btn btn-default" type="submit">Search Question</button>-->
<!--                            </span>-->
<!--                    </div>-->
<!--                </form>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>
