<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Items</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>View All Items</h2>
            <a href="/" class="btn btn-default">Go Back to Home Page</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Short Description</th>
                    <th>Description</th>
                    <th>Link</th>
                    <th>Category</th>
                    <th>Frameworks</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.shortDescription}"></td>
                    <td th:text="${item.description}"></td>
                    <td><a th:href="@{${item.link}}" target="_blank" th:text="LINK">LINK</a></td>
                    <td th:text="${item.category}"></td>
                    <td th:text="${item.frameworks}"></td>
                    <td>
                        <a th:href="@{/edit-item/{id}(id=${item.id})}" class="btn btn-primary">Edit</a>
                        <form th:action="@{/delete-item/{id}(id=${item.id})}" method="delete" style="display: inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Pagination -->
            <ul class="pagination">
                <li th:class="${pageInfo.first}? 'disabled' : ''">
                    <a th:href="@{/view-all-items(page=0)}">&laquo;</a>
                </li>
                <li th:class="${!pageInfo.hasPrevious}? 'disabled' : ''">
                    <a th:href="@{/view-all-items(page=${pageInfo.number - 1})}">Previous</a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, pageInfo.totalPages - 1)}">
                    <a th:href="@{/view-all-items(page=${i})}" th:text="${i + 1}"
                       th:class="${i == pageInfo.number}? 'active' : ''"></a>
                </li>
                <li th:class="${!pageInfo.hasNext}? 'disabled' : ''">
                    <a th:href="@{/view-all-items(page=${pageInfo.number + 1})}">Next</a>
                </li>
                <li th:class="${pageInfo.last}? 'disabled' : ''">
                    <a th:href="@{/view-all-items(page=${pageInfo.totalPages - 1})}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
